main {
  height: 100%;
  padding: 10px 30px;

  .faqs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .faq {
      background-color: #ffffff;
      padding: 10px;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
      overflow: hidden;
    }
  }
}