main {
  padding: 10px 30px;

  .image {
    background-image: url("../images/pic_rules.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
  }
}